/* MealAndDate.css */

.meal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.header {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.date {
  font-size: 14px;
  color: #555;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.checkboxes div {
  display: flex;
  margin-bottom: 10px;
}
.checkboxes span {
  margin: auto 10px;
}

label {
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #333;
}

input {
  margin-right: 10px;
}

button {
  background-color: #3498db;
  color: #2980b9;

  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
  color: #ffff;
}

.minus-btn {
  color: red;
}

.minus-btn:hover {
  background-color: red;
  color: #ffff;
}

.number {
  margin-left: 5px;
  font-size: 14px;
}

.table-container {
  /* width: 80%; */
  margin: 0 auto;
  overflow-x: auto;
}

.table-card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  /* width: 70vw; */
  max-height: 500px; /* Set a maximum height for scrollability */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-container th,
.table-container td {
  border: 1px solid #eaeaea;
  padding: 10px;
  text-align: center;
}

.table-container th {
  background-color: #3498db;
  color: #fff;
}

.table-container tbody tr:hover {
  background-color: #f5f5f5;
}
